<h1>Merchants</h1>

<table>
  <tr>
    <th>Merchant id</th>
    <th>Merchant</th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td><%= merchant.id %></td>
    <td><%= merchant.name %></td>
  </tr>
  <% end %>
</table>
