
td, th {
  border-bottom: 1px solid #ddd;

}

td {
  padding: 10px;
  text-align: center;
}

th {
  padding: 10px;
  text-align: center;

}

table {
    border-collapse: collapse;
    margin: auto;
    width: 50%;
    text-align: center;
}

div {
  margin: auto;
  display: inline-block;

}

#tag-textbox {
  margin-bottom: 5px;
}

body {
text-align: center;
}
