body {
/*text-align: center;*/
}

main {
  width: 50%;
  background-color: #ededed;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;

}

td, th {
  border-bottom: 1px solid #ddd;
}

td {
  padding: 10px;
  text-align: center;
}

th {
  width: 200px;
  padding: 10px;
  text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

div {
  margin: auto;
  display: inline-block;
}

.total {
  font-weight:bold;
  font-size: 25px;
}

.textbox {
  margin-bottom: 5px;
}

.add_transaction {
  height:200px;
  width:200px;
}

.table_all {
  margin-left: auto;
  margin-right: auto;
}
