<h1> Transactions </h1>

<form method="get" action="/transactions/new">
    <button type="submit">Add transaction</button>
</form>

<table>
  <tr>
    <th>Transaction amount</th>
    <th>Tag</th>
    <th>Merchant</th>
  </tr>

  <% for transaction in @transactions %>


  <tr>
    <td><%= transaction.amount %></td>
    <td><%= transaction.merchant %></td>
    <td><%= transaction.tag%></td>
  </tr>
  <% end %>
</table>
